.btn {
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    outline: 2px solid #fff;
    font-size: 1em;
    position: relative;
    transition: .3s;
    border-radius: 5px;
}
.btn:hover{
    outline: 2px solid #6F38C5;
    color: #000;
}
.btn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #6F38C5;
    z-index: -1;
    transition: .5s;
    transform-origin: left;
}
.btn:hover::after{
    transform: scale(1,1);
}


body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    background: #2D2E26;
}